.hero {
    margin-top: 50px;
    position: relative;

    &__slide {
        display: flex;
        justify-content: space-between;
    }

    &__top {
        display: flex;
    }

    &__welcome {
        font-size: 36px;
        margin-top: 50px;
        font-weight: 400;
    }

    &__art {
        font-size: 144px;
        line-height: 100px;
        font-weight: 900;
        text-transform: uppercase;
        align-self: end;
    }

    &__molbert {
        font-size: 144px;
        line-height: 100px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 34px;
        position: absolute;
    }

    &__image-top {
        margin-left: 34px;
        height: 100%;
    }

    &__button {
        margin-left: auto;
        display: block;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__image-bottom {
        img {
            margin-top: 15px;
        }
    }
}