@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import 'header';
@import 'select';
@import 'hero';
@import 'button';
@import 'general';


* {
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
}

.divider {
    height: 1px;
    width: 370px;
    background: #000;
    margin-top: 30px;
}

.title {
    font-size: 64px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px black;
    line-height: 55px;

    span {
        -webkit-text-stroke: 0;
        color: black;
        margin-right: 30px;
    }
}

.text {
    font-family: Inter;
    font-size: 18px;
}


.next,
.prev {
    position: absolute;
    top: 90%;
    z-index: 10000;
    left: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    margin-left: 50px;
}

.next-long,
.prev-long {
    position: absolute;
    top: 85% !important;
    z-index: 10000;
    left: -75px !important;
    width: 150px;
}

.next-long {
    left: calc(100% - 125px) !important;
}